{% extends 'home/base/base.html' %}
{% block content %}

<main>
    <section class="visual">
        <div class="visual-inner visual-banner-v9 dark-overlay parallax" data-stellar-background-ratio="0.55">
            <div class="centered">
                <div class="container">
                    <div class="visual-center">
                        <div  class="visual-title">
                        <h1>About Us</h1>
                        </div>
                        <div class="breadcrumb-block">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"> Home </a></li>
                                <li class="breadcrumb-item active"> About Us </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <section class="content-block pt-0">
        <div class="container">
            <div class="block-heading bottom-space">
                <h3>THE LIFE SIZE</h3>
                <h2>BRAND STORY</h2>
                <span class="block-sub-heading">View multiple content block layouts under features section.</span>
                <div class="divider"><img src="/static/img/divider.png" alt="images description"></div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="bottom-space-small-only">
                        <p>
                            Welcome to Wanjiku.com, where our story is shaped by the need to foster a vibrant community of adept digital marketers. 
                            In a world where businesses are swiftly embracing digital strategies, our mission is clear: 
                            to equip individuals with the skills needed to thrive in the competitive digital landscape.
                        </p>
                        
                        <div class="btn-container top-m-space">
                            <a href="#" class="btn btn-black has-radius-small">VIEW PROJECTS</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bottom-s-space">
                        <p>
                            Wanjiku is a seasoned digital marketer, communications and marketing specialist. With over 7 years of experience,
                            I firmly believe that essential digital skills hold tremendous value for everyone. As AI reshapes the landscape of marketing, 
                            understanding its impact and leveraging it for business growth in this digital era is crucial. Are you ready to seize? Book a FREE Consultation with us.

                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    <div class="content-wrapper">
        <section class="content-block">
            <div class="container">
                <div class="demo-wrapper">
                    <div class="text-center element-heading">
                        <h3>Projects I have SpearHeaded</h3>
                    </div>
                    <div class="row default-gallery">
                        <div class="col-md-6 col-lg-4">
                            <figure class="caption-hover-full">
                                <a class="fancybox fancy-pop" href="#lightbox-description"></a>
                                <div class="image-wrapper"><img src="/static/img/portfolio-21.jpg" alt="images description"></div>
                                <div class="image-details">
                                    <div class="figcaption">
                                        <div class="trigger">
                                            <div class="waituk-icon-plus"><span class="sr-only">&nbsp;</span></div>
                                        </div>
                                        <div class="info">
                                            <h2>ROAM: Revolutionizing Email Marketing Dynamics</h2>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <figure class="caption-hover-full">
                                <a class="fancybox fancy-pop" href="#lightbox-description1"></a>
                                <div class="image-wrapper"><img src="/static/img/portfolio-22.jpg" alt="images description"></div>
                                <div class="image-details">
                                    <div class="figcaption">
                                        <div class="trigger">
                                            <div class="waituk-icon-plus"><span class="sr-only">&nbsp;</span></div>
                                        </div>
                                        <div class="info">
                                            <h2>Dynamic Digital Campaign: Relaunching The Standard Newspaper</h2>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <figure class="caption-hover-full">
                                <a class="fancybox fancy-pop" href="#lightbox-description2"></a>
                                <div class="image-wrapper"><img src="/static/img/portfolio-23.jpg" alt="images description"></div>
                                <div class="image-details">
                                    <div class="figcaption">
                                        <div class="trigger">
                                            <div class="waituk-icon-plus"><span class="sr-only">&nbsp;</span></div>
                                        </div>
                                        <div class="info">
                                            <h2>YouTube-Centric Strategy: KTN News' Resurgence Journey</h2>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
                <div id="lightbox-description" class="lightbox-description">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="lightbox-img mt-2"> <img src="/static/img/portfolio-21.jpg" alt="images description"></div>
                            </div>
                            <div class="col-md-8">
                                <div class="mt-4">
                                    <h3>ROAM: Revolutionizing Email Marketing Dynamics</h3>
                                </div>
                                <p>At Ringier One Africa Media, I spearheaded email automation and personalization as a Digital Marketer. 
                                The goal was to enhance open rates, click-through rates (CTRs), and streamline the laborious task of curating and scheduling 
                                numerous emails. Collaborating with my manager, we devised various strategies and collaborated with developers to integrate 
                                website tags. These tags synchronized with our email system, allowing us to tailor newsletters based on users' preferences in 
                                real-time.</p>
                                <p>
                                    Witnessing this initiative evolve and witnessing the gradual improvement in email performance metrics was truly fascinating. 
                                    The success of this project, accomplished within roughly four months, underscored the pivotal role of email newsletters for ROAM.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="lightbox-description1" class="lightbox-description">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="lightbox-img mt-2"> <img src="/static/img/portfolio-22.jpg" alt="images description"></div>
                            </div>
                            <div class="col-md-8">
                                <div class="mt-4">
                                    <h3>Dynamic Digital Campaign: Relaunching The Standard Newspaper</h3>
                                </div>
                                <p>
                                    The Standard newspaper, a long-standing print in Kenya, underwent a big change— a re-brand. When I joined the Standard Group, 
                                    I took on a major project: creating a digital plan to make people aware of the updated newspaper and boost its sales. 
                                    The idea was to make the paper look better and introduce different themed sections each day—like Financials on Tuesday, 
                                    Real Estate on Thursday, The Pulse on Fridays, and Gen X on Sundays. 
                                </p>
                                <p>
                                    These sections aimed to attract readers with different interests on different days. My digital strategy included teasers, 
                                    throwback posters of the newspaper, and social media quizzes to excite people leading up to the launch. 
                                    The build-up phase went well. I collaborated with Twitter influencers to make #TheStandardRelaunch a top trending topic 
                                    for three days straight. On social media, I shared bits of the day's story to encourage people to buy the paper while 
                                    gradually revealing its fresh new look.I also organized events on the ground, ran TV commercials, formed partnerships, 
                                    and aired radio ads to support the rebrand. This was a continuous effort and we gradually saw uptake of the print take-up as 
                                    advertisers increased as well.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="lightbox-description2" class="lightbox-description">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="lightbox-img mt-2"> <img src="/static/img/portfolio-23.jpg" alt="images description"></div>
                            </div>
                            <div class="col-md-8">
                                <div class="mt-4">
                                    <h3>YouTube-Centric Strategy: KTN News' Resurgence Journey</h3>
                                </div>
                                <p>
                                    KTN News underwent a significant transformation in 2022. Despite stagnant viewership, the station aimed 
                                    to revamp its image and attract new audiences and advertisers by rebranding and focusing on news coverage around the clock, 
                                    akin to a Kenyan version of CNN. The transformation involved setting up a cutting-edge digital studio to enhance the viewing
                                    experience and streamline anchor coordination during breaking news. My role in this fascinating project centered on overseeing 
                                    digital initiatives, particularly on YouTube, given its popularity among Kenyan content consumers.
                                </p>
                                <p>
                                    Following a strategy similar to The Standard's approach, I curated content for teasers, and throwback posts, 
                                    and engaged users through trivia contests and giveaways on social media. I collaborated closely with past and 
                                    present journalists, sharing their memories and support for the station's evolution through video messages. 
                                    After a grand launch event, we hit the road with shows and events to increase viewership. The result? 
                                    A notable month-on-month increase of 15% in viewership, marking a successful turnaround for KTN News.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}