{% extends 'home/base/base.html' %}
{% block content %}
<main>
    <section class="visual">
        <div class="visual-inner about-banner dark-overlay parallax" data-stellar-background-ratio="0.55">
            <div class="centered">
                <div class="container">
                    <div class="visual-text visual-center">
                        <div class="visual-title">
                            <h1>Our Blogs</h1>
                        </div>
                        <div class="breadcrumb-block">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"> Home </a></li>
                                <li class="breadcrumb-item"><a href="index.html"> Wanjiku's Blogs </a></li>
                                <li class="breadcrumb-item active"> Our Blogs </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="content-wrapper">
        <section class="content-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row multiple-row">
                            {% for blog in blogs %}
                                <div class="col-md-6 col-lg-6">
                                    <div class="col-wrap">
                                        <div class="post-grid reverse-grid">
                                            <div class="img-block post-img">
                                                <a href="#"><img src="{{blog.poster.url}}" alt="images"></a>
                                                <time class="post-date" datetime="2016-10-10">{{blog.date}}</time>
                                            </div>
                                            <div class="post-text-block bg-gray-light">
                                                <h2><a href="{% url 'blog_single' blog.id %}">{{blog.title}}</a></h2>
                                                <span class="content-sub-title">{{blog.sub_title}}</span>
                                                <p>
                                                    {{blog.content|truncatewords:"15"|safe}}
                                                </p>
                                                <div class="post-meta clearfix">
                                                    <div class="post-link-holder">
                                                        <a href="{% url 'blog_single' blog.id %}">Read Story <span class="fa fa-arrow-right"><span class="sr-only">&nbsp;</span></span></a>
                                                    </div>
                                                    <div class="post-social text-right">
                                                        <ul class="social-network social-small">
                                                            <li><a href="{{blog.facebook_link}}" target="_blank"><span class="waituk-icon-facebook"><span class="sr-only">&nbsp;</span></span></a></li>
                                                            <li><a href="{{blog.twitter_link}}" target="_blank"><span class="waituk-icon-twitter"><span class="sr-only">&nbsp;</span></span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% if request.user.is_authenticated %}
                            <div class="btn-container full-width-btn top-space">
                                <a href="{% url 'blog_create' %}" class="btn btn-black">ADD NEW<span class="c-ripple js-ripple"><span class="c-ripple__circle"></span></span></a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-4 flex-lg-first">
                        <div class="sidebar-wrap mt-5 mt-lg-0">
                            <div class="widget-block">
                                <div class="post-block">
                                    <h4>RECENT POSTS</h4>
                                    {% for blog in recent_blogs %}
                                        <div class="post-holder">
                                            <div class="post-avatar">
                                                <img src="{{blog.poster.url}}" alt="image description">
                                            </div>
                                            <div class="post-desc">
                                                <h6><a href="{% url 'blog_single' blog.id%}">{{blog.title}}</a></h6>
                                                <p>7 Comments</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <!-- <div class="twitter-feed mt-5">
                                    <h4>TWITTER FEED</h4>
                                    <div class="tweet-holder"><a href="#" class="post-link"></a>
                                        <div class="twit-ico"><i class="waituk-icon-twitter"></i></div>
                                        <div class="twit-desc">
                                            <h6><a href="#">Roxine Templates</a></h6>
                                            <p>7 Hours Ago</p>
                                        </div>
                                    </div>
                                    <div class="tweet-holder"><a href="#" class="post-link"></a>
                                        <div class="twit-ico"><i class="waituk-icon-twitter"></i></div>
                                        <div class="twit-desc">
                                            <h6><a href="#">Roxine Templates</a></h6>
                                            <p>7 Hours Ago</p>
                                        </div>
                                    </div>
                                    <div class="tweet-holder"><a href="#" class="post-link"></a>
                                        <div class="twit-ico"><i class="waituk-icon-twitter"></i></div>
                                        <div class="twit-desc">
                                            <h6><a href="#">Roxine Templates</a></h6>
                                            <p>7 Hours Ago</p>
                                        </div>
                                    </div>
                                    <div class="tweet-holder"><a href="#" class="post-link"></a>
                                        <div class="twit-ico"><i class="waituk-icon-twitter"></i></div>
                                        <div class="twit-desc">
                                            <h6><a href="#">Roxine Templates</a></h6>
                                            <p>7 Hours Ago</p>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="tag-block mt-5">
                                    <h4>TAG CLOUD</h4>
                                    <ul>
                                        <li>
                                            <a href="#">Cloud</a>
                                        </li>
                                        <li>
                                            <a href="#">Bootstrap</a>
                                        </li>
                                        <li>
                                            <a href="#">Web</a>
                                        </li>
                                        <li>
                                            <a href="#">Web</a>
                                        </li>
                                        <li>
                                            <a href="#">Cloud</a>
                                        </li>
                                        <li>
                                            <a href="#">UI/UX</a>
                                        </li>
                                        <li>
                                            <a href="#">Cloud</a>
                                        </li>
                                        <li>
                                            <a href="#">Bootstrap</a>
                                        </li>
                                        <li>
                                            <a href="#">Web</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}