{% extends 'home/base/base.html' %}
{% block content %}

<main>
    <div class="banner banner-home">
        <!-- revolution slider starts -->
        <div id="rev_slider_279_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="restaurant-header" style="margin:0px auto;background-color:#fff;padding:0px;margin-top:0px;margin-bottom:0px;">
            <div id="rev_slider_70_1" class="rev_slider fullscreenabanner" style="display:none;" data-version="5.1.4">
                <ul>
                    <li class="slider-color-schema-dark" data-index="rs-2" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="1000" data-rotate="0" data-saveperformance="off" data-title="Slide" data-description="">
                        <!-- main image for revolution slider -->
                        <img src="/static/img/big-14jpeg" alt="image description" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-bgfit="cover" data-no-retina>
                        <div class="tp-caption tp-shape tp-shapewrapper" id="slide-1699-layer-10" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full"
                        data-height="full" data-whitespace="nowrap" data-type="shape" data-basealign="slide" data-responsive_offset="on" data-responsive="off" data-frames='[{"from":"y:0;sX:1;sY:1;opacity:0;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="background-color:rgba(0, 0, 0, 0.57);"> </div>
                        <div class="slider-sub-title text-white tp-caption tp-resizeme rs-parallaxlevel-0" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','middle','middle']" data-voffset="['145','100','10','20']" data-width="['1200','960','720','540']" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;" data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-paddingright="[25,25,25,25]" data-paddingleft="[25,25,25,25]">
                            WEB. DIGITAL. GURU.
                        </div>
                        <div class="slider-main-title text-white tp-caption tp-resizeme rs-parallaxlevel-1" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','middle','middle']" data-voffset="['250','150','50','50']" data-width="['1200','960','720','540']" data-textalign="left" data-fontsize="['160','88','64','48']" data-fontweight="900" data-letterspacing="['25','10','5','0']" data-lineheight="['184','100','72','60']" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;" data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-paddingright="[25,25,25,25]" data-paddingleft="[25,25,25,25]">
                            Miss Wanjiku
                        </div>
                        <!-- <div class="slider-text text-white tp-caption tp-resizeme rs-parallaxlevel-2" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','middle','middle']" data-voffset="['450','230','110','110']" data-width="['600','555','555','480']" data-textalign="left" data-fontsize="['16','14','14','14']" data-lineheight="['30','30','22','22']" data-fontweight="400" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;" data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-paddingright="[25,25,25,25]" data-paddingleft="[25,25,25,25]">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                        </div> -->
                        <div class="tp-caption rev-btn  rs-parallaxlevel-10" id="slide-163-layer-1" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['320','60','240','220']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power3.easeOut;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;" data-start="1250" data-splitin="none" data-splitout="none" data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-164","delay":""}]' data-responsive_offset="on" data-paddingtop="[0,0,0,0]" data-paddingright="[25,25,25,25]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[25,25,25,25]">
                            <a class="btn btn-primary has-radius-small" href="#">Reach Out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="content-wrapper">

        <!-- brand story section -->
        <br><br>
        <section class="content-block pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="bottom-space-small-only">
                            <div class="block-heading bottom-space">
                                <h3>THE LIFE SIZE</h3>
                                <h2>BRAND STORY</h2>
                                <div class="divider"><img src="static/img/divider.png" alt="images description"></div>
                            </div>
                            
 
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="bottom-s-space">
                            <p>
                                Wanjiku is a seasoned digital marketer, communications and marketing specialist. With over 7 years of experience,
                                I firmly believe that essential digital skills hold tremendous value for everyone. As AI reshapes the landscape of marketing, 
                                understanding its impact and leveraging it for business growth in this digital era is crucial. Are you ready to seize? Book a FREE Consultation with us.

                            </p>
                        </div>
                        
                    </div>
                </div>
                <div class="btn-container top-m-space">
                    <a href="{% url 'about' %}" class="btn btn-black has-radius-small" style="float: right;">VIEW PROJECTS</a>
                </div>
            </div>
        </section>

        <!-- banner section call to action -->
        <section class="content-block quotation-block black-overlay-6 parallax" data-stellar-background-ratio="0.55">
            <div class="container">
                <div class="inner-wrapper text-white">
                    <h2>In need of a strategy that brings razzmatazz?</h2>
                    <h3>Book a free consultation</h3>
                    <div class="btn-container">
                        <a href="https://calendly.com/" target="_blank" class="btn btn-primary has-radius-small">Book COnsultation</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- services section -->
        <section class="content-block">
            <div class="container">
                <div class="row multiple-row v-align-row">
                    <div class="col-lg-4 col-md-6">
                        <div class="col-wrap">
                            <div class="block-heading">
                                <h3>WHAT WE DO</h3>
                                <h2>EXPERTS</h2>
                                <span class="block-sub-heading">We build digital solutions.</span>
                                <div class="divider"><img src="static/img/divider.png" alt="images description"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="col-wrap">
                            <div class="ico-box bg-gray-light has-radius-medium">
                                <br>
                                <div class="icon">
                                    <img src="/static/img/global-market.png" alt="" style="height: 90px;">
                                </div>
                                <h4><a href="{% url 'services' %}">Digital Marketting Strategist</a></h4>
                                <div class="des">
                                    <p>In today's dynamic business landscape, embracing Digital Marketing is essential for exponential growth....</p>
                                </div>
                                <div class="link-holder">
                                    <a class="link-more" href="{% url 'services' %}" class="btn btn-secondary">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="col-wrap">
                            <div class="ico-box bg-gray-light has-radius-medium">
                                <br>
                                <div class="icon">
                                    <img src="/static/img/social-media.png" alt="" style="height: 90px;">
                                </div>
                                <h4><a href="{% url 'services' %}">Social Media Management</a></h4>
                                <div class="des">
                                    <p>Enhance your business's visibility across prevalent social media platforms: Facebook, Instagram, Threads....</p>
                                </div>
                                <div class="link-holder">
                                    <a class="link-more" href="{% url 'services' %}" class="btn btn-secondary">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="col-wrap">
                            <div class="ico-box bg-gray-light has-radius-medium">
                                <br>
                                <div class="icon">
                                    <img src="/static/img/blog-pencil.png" alt="" style="height: 90px;">
                                </div>
                                <h4><a href="{% url 'services' %}">Content Writting</a></h4>
                                <div class="des">
                                    <p>Elevate your business with compelling content across social media platforms and your website....</p>
                                </div>
                                <div class="link-holder">
                                    <a class="link-more" href="{% url 'services' %}" class="btn btn-secondary">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="col-wrap">
                            <div class="ico-box bg-gray-light has-radius-medium">
                                <br>
                                <div class="icon">
                                    <img src="/static/img/ads.png" alt="" style="height: 90px;">
                                </div>
                                <h4><a href="{% url 'services' %}">Paid Advertising</a></h4>
                                <div class="des">
                                    <p>Amplify your brand's presence and reach through targeted advertising on META and Google Ads....</p>
                                </div>
                                <div class="link-holder">
                                    <a class="link-more" href="{% url 'services' %}" class="btn btn-secondary">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="col-wrap">
                            <div class="ico-box bg-gray-light has-radius-medium">
                                <br>
                                <div class="icon">
                                    <img src="/static/img/buy.png" alt="" style="height: 90px;">
                                </div>
                                <h4><a href="{% url 'services' %}">Media Buying Strategy</a></h4>
                                <div class="des">
                                    <p>Auersla, conse ctetur adipis icing lorem ipsum dolor sit amet</p>
                                </div>
                                <div class="link-holder">
                                    <a class="link-more" href="{% url 'services' %}" class="btn btn-secondary">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="content-block count-block text-center p-0 parallax" data-stellar-background-ratio="0.55">
            <div class="container-fluid">
                <div class="row no-gutters">
                    <div class="col-sm-6 col-lg-3">
                        <div class="col-wrap">
                            <div class="icon">
                                <span class="waituk-icon-projects"></span>
                            </div>
                            <h3>505</h3>
                            <div class="text text-uppercase">TOTAL COURSES TAKEN</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="col-wrap">
                            <div class="icon">
                                <span class="waituk-icon-smile"></span>
                            </div>
                            <h3>220</h3>
                            <div class="text text-uppercase">SATISFIED STUDENTS</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="col-wrap">
                            <div class="icon">
                                <span class="waituk-icon-award"></span>
                            </div>
                            <h3>720</h3>
                            <div class="text text-uppercase">AWARDS WON</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="col-wrap">
                            <div class="icon">
                                <span class="waituk-icon-celebrate"></span>
                            </div>
                            <h3>707</h3>
                            <div class="text text-uppercase">MILESTONES MET</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="visual visual-sub visual-no-bg">
            <div class="visual-inner no-overlay bg-gray-light">
                <div class="centered">
                    <div class="container">
                        <div class="visual-text visual-center">
                            <div class="visual-title">
                                <h1>Contact Us</h1>
                            </div>
                            <div class="breadcrumb-block">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html"> Home </a></li>
                                    <li class="breadcrumb-item active"> Contact Us </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/visual/banner of the page -->
        <!-- main content wrapper -->
        <div class="content-wrapper">
            <section class="content-block pb-0">
                <div class="container">
                    <div class="contact-container">
                        <div class="contact-title">
                            <h6>Contact Me Today</h6>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <!-- contact form -->
                                <form action="#" method="post" id="contact_form" class="waituk_contact-form">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" placeholder="FIRST NAME *" id="con_fname" name="first_name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" placeholder="LAST NAME *" id="con_lname" name="last_name" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="tel" placeholder="PHONE NUMBER" id="con_phone" name="phone_number" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="email" placeholder="EMAIL ADDRESS *" id="con_email" name="email" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="MESSAGE *" id="con_message" name="message"></textarea>
                                    </div>
                                    <div class="btn-container">
                                        <input type="submit" class="btn btn-black btn-lg" value="Send Message" />
                                        <p id="error_message"> </p>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-6 col-xl-5 ml-xl-auto">
                                <!-- <div class="info-slot">
                                    <div class="icon"><span class="waituk-icon-map-marker"></span></div>
                                    <div class="text">
                                        <address>707 London Road, Isleworth
                                            <br>Middlesex, TW7 7QD
                                            <br>United Kingdom</address>
                                    </div>
                                </div> -->
                                <div class="info-slot">
                                    <div class="icon"><span class="waituk-icon-headset"></span></div>
                                    <div class="text">
                                        <ul class="content-list contact-list">
                                            <li><span class="label-text">HELPLINE</span> +254 722-151-358</li>
                                            <li><span class="label-text">HELPLINE</span> +254 722-151-358</li>
                                            <li><span class="label-text">ADDRESS</span> 4th Floor, Delta Corner Annex
                                            </li>
                                            <li><span class="label-text"></span>Ring Road Westlands/Waiyaki Way
                                            </li>
                                            <!-- <li><span class="label-text">FAX</span> <a href="tel:02078777777">(020) 7877 7777</a></li> -->
                                        </ul>
                                    </div>
                                </div>
                                <div class="info-slot">
                                    <div class="icon"><span class="waituk-icon-message"></span></div>
                                    <div class="text">
                                        <ul class="content-list contact-list">
                                            <li><a href="mailto:support@roxine-online">mercygitau17@gmail.com</a></li>
                                            <li><a href="mailto:info@roxine-online.com"> info@wanjiku.com</a></li>
                                            <!-- <li><a href="mailto:help@roxine-online.com">Sample3@email.com</a></li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

    </div>
</main>


{% endblock %}