{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="icon" href="/static/img/favicon-01.png" type="image/x-icon">
        {% if title %}
            <title>WANJIKU|{{title}}</title>
        {% else %}
            <title>WANJIKU</title>
        {% endif %}
       <!-- Font Icons -->
        <link media="all" rel="stylesheet" href="{% static 'css/fonts/icomoon/icomoon.css' %}">
        <link media="all" rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.css' %}">
        <!-- {% static '' %}Vendors -->
        <link media="all" rel="stylesheet" href="{% static 'vendors/owl-carousel/dist/assets/owl.carousel.min.css' %}">
        <link media="all" rel="stylesheet" href="{% static 'vendors/owl-carousel/dist/assets/owl.theme.default.min.css' %}">
        <link media="all" rel="stylesheet" href="{% static 'vendors/animate/animate.css' %}">
        <link media="all" rel="stylesheet" href="{% static 'vendors/rateyo/jquery.rateyo.css' %}">
        <link media="all" rel="stylesheet" href="{% static 'vendors/bootstrap-datepicker/css/bootstrap-datepicker.css' %}">
        <link media="all" rel="stylesheet" href="{% static 'vendors/fancyBox/source/jquery.fancybox.css' %}">
        <link media="all" rel="stylesheet" href="{% static 'vendors/fancyBox/source/helpers/jquery.fancybox-thumbs.css' %}">
        <!-- Bootstrap 4 -->
        <link media="all" rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <!-- Rev Slider -->
        <link rel="stylesheet" type="text/css" href="{% static 'vendors/rev-slider/revolution/css/settings.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendors/rev-slider/revolution/css/layers.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendors/rev-slider/revolution/css/navigation.css' %}">
        <!-- Theme CSS -->
        <link media="all" rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
<body class="white-overlay">
    

    <!--Preloader-->
    <div class="preloader" id="pageLoad">
        <div class="holder">
            <div class="coffee_cup"></div>
        </div>
    </div>


    <!--Side panel-->
    <nav class="nav-wrap bg-white">
        <!-- opener inside of collapsible menu -->
        <div class="nav-trigger nav-trigger-close">
            <a href="#">Close Panel <i class="waituk-icon-long-arrow-right"></i> </a>
            <div class="divider-border"><span class="sr-only"></span></div>
        </div>
            <!-- <div class="col-sm-12 pb-3">
                <a href="#" class="btn btn-black btn-small-font btn-solid-facebook has-radius-small"><span class="waituk-icon-facebook"><span class="sr-only">&nbsp;</span></span> LOGIN WITH FACEBOOK</a>
            </div>
            <div class="col-sm-12">
                <a href="#" class="btn btn-black btn-small-font btn-solid-google has-radius-small"><span class="waituk-icon-google-plus"><span class="sr-only">&nbsp;</span></span> LOGIN WITH GOOGLE</a>
            </div> -->
        <!-- <div class="divider-border"><span class="sr-only"></span></div> -->
        <ul class="side-nav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'blogs' %}">Blog</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <nav class="header-links">
            <ul>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
            </ul>
        </nav>
        <div class="divider-border"><span class="sr-only"></span></div>
        <!-- <div class="p-3">
            <ul class="social-network square-icon shadowed-icon">
                <li><a href="#"><span class="waituk-icon-facebook"></span></a></li>
                <li><a href="#"><span class="waituk-icon-twitter"></span></a></li>
                <li><a href="#"><span class="waituk-icon-google-plus"></span></a></li>
                <li><a href="#"><span class="waituk-icon-pinterest"></span></a></li>
                <li><a href="#"><span class="waituk-icon-dribbble"></span></a></li>
            </ul>
        </div> -->
    </nav>
    <!-- main wrapper -->
    <div id="wrapper" class="no-overflow-x">
        <div class="page-wrapper">
            
            <header class="fixed-top main-header header-white transparent with-icons" id="waituk-main-header">
                <div id="nav-section">
                    <div class="bottom-header container-fluid mega-menus" id="mega-menus">
                        <nav class="navbar navbar-expand-lg navbar-toggleable-md no-border-radius no-margin mega-menu-multiple" id="navbar-inner-container">
                            <form action="" id="top-search" class="no-margin top-search">
                                <div class="form-group no-margin">
                                    <input class="form-control no-border" id="search_term" name="search_term" placeholder="Type & Press Enter" type="text">
                                </div>
                            </form>
                            <button type="button" class="navbar-toggler navbar-toggler-left" data-toggle="collapse" data-target="#mega-menu">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <a class="navbar-brand mr-auto m-sm-auto" href="{% url 'home' %}"> <img src="/static/img/logo.png" alt="roxine" style="height: 90px";> <img src="/static/img/logo_1.png" alt="roxine" style="height: 90px;"> </a>
                            <div class="collapse navbar-collapse flex-row-reverse" id="mega-menu">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown" data-animation="fadeIn">
                                        <a  href="{% url 'home' %}" > Home </a>
                                        <!-- <ul class="dropdown-menu no-border-radius">
                                            <li><a href="index.html"> Creative Agency </a></li>
                                        </ul> -->
                                    </li>
                                    <li class="dropdown" data-animation="fadeIn">
                                        <a href="{% url 'about' %}" data-title="Home"> Brand Story </a>
                                        <!-- <ul class="dropdown-menu  no-border-radius">
                                            <li class="dropdown dropdown-right dropdown-parent">
                                                <a class="sub-marker" href="#">Header Styles <i class="waituk-icon-ios-more icn-right"></i></a>
                                                <ul class="dropdown-menu dropdown-menu-indent-sm no-border-radius">
                                                    <li><a href="header-v1.html"> Header v1 </a></li>
                                                </ul>
                                            </li>
                                        </ul> -->
                                    </li>
                                    <li>
                                        <a href="{% url 'services' %}"> Services </a>
                                    </li>
                                    <!-- <li class="dropdown" data-animation="fadeIn">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="index.html" data-title="Home"> Courses </a>
                                        <ul class="dropdown-menu no-border-radius">
                                            <li class="dropdown dropdown-left dropdown-parent">
                                                <a class="sub-marker" href="#"> No Sidebar <i class="waituk-icon-ios-more icn-right"></i></a>
                                                <ul class="dropdown-menu dropdown-menu-indent-sm no-border-radius">
                                                    <li><a href="portfolio-no-sidebar-2-col.html"> 2 Column </a></li>
                                                </ul>
                                            </li>
                                            <li><a href="portfolio-masonary.html"> Masonary </a></li>
                                        </ul>
                                    </li> -->
                                    <li class="dropdown dropdown-full-width-g" data-animation="fadeIn">
                                        <a href="{% url 'blogs' %}" >Blog </a>
                                    </li>
                                    <li class="dropdown right-dropdown" data-animation="fadeIn">
                                        <a href="{% url 'faq' %}" data-title="Home"> Faq </a>
                                        <!-- <ul class="dropdown-menu no-border-radius">
                                        	<li><a href="blog-one-col.html"> Blog One Column </a></li>
                                        </ul> -->
                                    </li>
                                    <li>
                                        <a href="{% url 'contact' %}"> Contact </a>
                                    </li>
                                    {% if request.user.is_authenticated %}
                                        <li>
                                            <a href="{% url 'logout' %}"> Log Out </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{% url 'login' %}"> Log IN </a>
                                        </li>
                                    {% endif %}
                                    <!-- <li class="dropdown cart-list margin-0-sm">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="d-lg-none"> Shopping Cart </span><i class="waituk-icon-cart m-marker"></i></a>
                                        <div class="dropdown-menu-container">
                                            <div class="dropdown-menu no-border-radius col-lg-1 col-md-4 col-sm-4">
                                                <h4> Shopping Cart </h4>
                                                <ul class="s-list no-padding">
                                                    <li><a href="#" class="btn btn-sm btn-block btn-secondary btn-mina btn-mina-rip-br"> View Cart </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li> -->
                                </ul>
                            </div>
                            <div class="navbar-pos-search">
                                <a href="#" class="x-search x-search-trigger navbar-link"><i class="waituk-icon-search"></i></a>
                                <a href="#" class="x-search icon-close-round navbar-link"><i class="waituk-icon-close-round"></i></a>
                            </div>
                            <div class="nav-trigger navbar-pos-search overlay-trigger">
                                <a href="#" class="navbar-link"><i class="waituk-icon-sort-1"></i></a>
                            </div>
                        </nav>
                    </div>
                </div>
            </header>
            

            {% block content %}

            {% endblock %}

            
            

        </div>
        <footer class="footer footer-v1">
            <div class="content-block footer-main">
                <div class="container">
                    <div class="row">
                       
                        <div class="col-md-4">
                            <div class="footer-nav inline-nav text-md-center">
                                <ul>
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'about' %}">About</a></li>
                                    <li><a href="{% url 'blogs' %}">Blog</a></li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 text-md-right">
                            <ul class="social-network with-text">
                                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/wanjiku-gitau-0baa0774/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <!-- <li><a href=""><i class="fab fa-pinterest"></i></a></li>
                                <li><a href=""><i class="fab fa-dribbble"></i></a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom text-center">
                <div class="container">
                    <p>Copyright 2023 - Miss Wanjiku Blog </p>
                </div>
            </div>
        </footer>
    </div>


    <script src="{% static 'vendors/jquery/jquery-2.1.4.min.js' %}"></script>
    <!-- Vendor Scripts -->
    <script src="{% static 'vendors/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/stellar/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'vendors/isotope/javascripts/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/isotope/javascripts/packery-mode.pkgd.js' %}"></script>
    <script src="{% static 'vendors/owl-carousel/dist/owl.carousel.min.js' %}"></script>
    <script src="{% static 'vendors/waypoint/waypoints.min.js' %}"></script>
    <script src="{% static 'vendors/counter-up/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'vendors/fancyBox/source/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'vendors/fancyBox/source/helpers/jquery.fancybox-thumbs.js' %}"></script>
    <script src="{% static 'vendors/image-stretcher-master/image-stretcher.js' %}"></script>
    <script src="{% static 'vendors/wow/wow.min.js' %}"></script>
    <script src="{% static 'vendors/rateyo/jquery.rateyo.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-slider-master/src/js/bootstrap-slider.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/mega-menu.js' %}"></script>
    <script src="{% static 'vendors/retina/retina.min.js' %}"></script>
    <!-- Custom Script -->
    <script src="{% static 'js/jquery.main.js' %}"></script>
    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="{% static 'vendors/rev-slider/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/rev-slider/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="{% static 'vendors/rev-slider/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/rev-slider/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/rev-slider/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/rev-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/rev-slider/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/rev-slider/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/rev-slider/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/rev-slider/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/rev-slider/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
    <!-- SNOW ADD ON -->
    <script type="text/javascript" src="{% static 'vendors/rev-slider/revolution-addons/snow/revolution.addon.snow.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SYb1BB5fRTpOqF5t5u78qF4KJt9b5I1JfKx4y" crossorigin="anonymous">
    <!-- Revolution Slider Script -->
    <script src="{% static 'js/revolution.js' %}"></script>
</body>
</html>